<header>
  <div class="header-list">
   <ul>
    <li><%= link_to "ホーム", movies_path %></li>
    <li><%= link_to "新規投稿", new_movie_path %></li>
    <% if user_signed_in? %>
      <li><strong><%= link_to "マイページ", user_path(current_user.id) %></strong>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %>
    <% end %>
   </ul>
  </div>
</header>

<%= form_for @movie do |f| %>
    <%= f.label :タイトル %>
    <%= f.text_field :title, :size => 140 %> 
    <%= f.label :ストーリー %>
    <%= f.text_field :sentence, :size => 140 %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.submit "編集する" %>
  <% end %>