
<header id="homepage">
<div class="header-list">
  <div class="mark">
   <h1 id="site-logo">diboard</h1>
   <h2>日本と英語圏以外の映画・ドラマレビューサイト</h2>
  </div>

 <ul>
  <li><%= link_to "ホーム", movies_path %></li>
  <li><%= link_to "新規投稿", new_movie_path %></li>
  <% if user_signed_in? %>
    <li><strong><%= link_to "マイページ", user_path(current_user.id) %></strong>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path %>
  <% end %>
 </ul>
</div>
</header>



<main style="margin-top: 20rem;">
 <div class="search-form">
   <%= form_with(scope: :search, url: movies_path, method: :get, local: true) do |f| %>
     <div class="search-field">
       <%= f.label(:国) %>
       <%= f.collection_select(:country_id, Country.all, :id, :name, selected: @search_params[:country_id], prompt: "        ") %>
        <%= f.label(:サイト) %>
        <%= f.collection_select(:site_id, Site.all, :id, :name, selected: @search_params[:site_id], prompt: "        ") %>
     </div>
     <div class="actions">
       <%= f.submit '検索', class:"search-click"%>
     </div>
   <% end %>
 </div>


  
  <div class="grid">
    <% @movies.each do |t| %>
       <div class="movie">
         <%= link_to movie_path(t.id)  do %>
           <%= cl_image_tag(t.image_url, :width=>210, :height=>300, :crop=>"scale") %>
           <P><%= t.title %></p>
         <% end %>
         
       </div>
     <% end %>
  </div>

 
  
 </main>
