
<header>
  <div class="header-list">
   <h1>diboard</h1>
   <ul>
    <li><%= link_to "ホーム", movies_path %></li>
    <li><%= link_to "新規投稿", new_movie_path %></li>
    <% if user_signed_in? %>
      <li><strong><%= link_to "マイページ", user_path(current_user.id) %></strong>
      
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %>
    <% end %>
   </ul>
  </div>
</header>

<script>
 $(window).scroll(function() {
   if ($(document).scrollTop() > 100) {
     $('header').addClass('shrink');
   } else {
     $('header').removeClass('shrink');
   }
 });
</script>




<content>
   <div class="movie_page">
     <%= cl_image_tag(@movie.image_url, :width=>288, :height=>414, :crop=>"scale") %>
   </div>
   <div class="movie_box">
     <h1><%= @movie.title %><span>[<%= @movie.country.name %>]</span></h1>
     <span class="star-rating">
       <span class="star-rating-front" style="width: <%= getPercent(@review_average) %>%;">★★★★★</span>
       <span class="star-rating-back">★★★★★</span>
     </span>
     <hr class="cp_hr06" />
     <div class="story">
         <h3>ストーリー</h3>
         <p><%= @movie.sentence %></p>
      </div>
     <hr class="cp_hr06" />
     
    </div>
 </content>




<div class="comment">
    <div class="content_box">
       
      
       <h3>ハッシュタグ<span>〜共感するタグに投票してください〜</span></h3>
       <div class="feel-tag">
          <%= form_with(model: [@movie, @vote], local: true) do |f| %>
          <% @tag_count.each do |c| %>
           <div class="feel-tag-checkbox">
              <%= f.check_box :tag_id, { multiple: false,  include_hidden: false, id: 'feeling', class:"checkbox"}, c.id %>
              <label for="feeling">
             ＃<%= c.content %></label>
           </div>
          <% end %>
         <%= f.submit'投票', class:"vote" %>
         <% end %>
         <%= form_with(model: [@movie, @tag], local: true) do |f| %>
          <div class="feel-add-tag">
            <%= f.text_field :content, placeholder:"＃オリジナルタグ" %>
          </div>
          <%= f.submit '追加', class:"add-tag" %>
         <% end %>
        </div>
     </div>
   <h2>コメント</h2>
   <div class="comment_show">
     <% @reviews.each do |c| %>
       <div class="comment_box">
          <%= c.user.name unless c.user.blank? %>
           <% if c.rate.present?  %>
           <span class="star-rating">
              <span class="star-rating-front" style="width: <%= getPercent(c.rate)  %>%;">★★★★★</span>
              <span class="star-rating-back">★★★★★</span>
           </span>
           <% end %>
            <%= c.comment %>
       </div>
     <% end %>
   </div>

 
  <div class="form_comment">
   <h2>評価する</h2>
    <%= form_with(model: [@movie, @review], local: true) do |f| %> 
      <!-- 評価 -->
      <div class="post_form">
       <%= f.radio_button :rate, 5 ,id: 'star1'%>
       <label for="star1">★</label>

       <%= f.radio_button :rate, 4 ,id: 'star2'%>
       <label for="star2">★</label>

       <%= f.radio_button :rate, 3 ,id: 'star3'%>
       <label for="star3">★</label>

       <%= f.radio_button :rate, 2 ,id: 'star4'%>
       <label for="star4">★</label>

       <%= f.radio_button :rate, 1 ,id: 'star5'%>
       <label for="star5">★</label>
     </div>
     <div class="form-group row">
       <%= f.text_area :comment, class: "form-control", placeholder:"コメント(任意)", name:"コメント" %>
     </div>
     <!-- 確認ボタン -->
     <div class="form-group row justify-content-end">
       <div class="col-md-9">
         <%= f.submit '投稿する', class:"btn btn-success" %>
       </div>
     </div>
   <% end %>
  </div>
</div>


<footer>
</footer>


  

  


