<!DOCTYPE html>
<html>
  <head>
    <title>Pastel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag controller.controller_name , media: "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <%= yield %>
  </body>
</html>
